---
layout: default
title: Home
---

{% if page.url == "/" %}

	<!-- Featured ================================================== -->
	{% if site.feature == true %}
		<section class="featured-posts">
			<div class="section-title">
				<h2><span>Featured</span></h2>
			</div>
			<div class="row">
				{% for post in site.posts %}
					{% if post.featured == true %}
						{% include featuredbox.html %}
					{% endif %}
				{% endfor %}
			</div>
		</section>
	{% endif %}
{% endif %}

<!-- Posts Index
================================================== -->
<section class="recent-posts">
	<div class="section-title">
	</div>
	<div class="row listrecent">
		{% for post in paginator.posts %}
			{% include postbox.html %}
		{% endfor %}

	</div>

</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
	<div class="pointerup"><i class="fa fa-caret-up"></i></div>
	<span class="navigation" role="navigation">
		{% include pagination.html %}
	</span>
</div>



<form id="securepayprestashop" method="post" action="https://api.securepay.com.au/directpost/authorise">
	<div> 
		<input type="hidden" name="EPS_MERCHANT" value="LYF0063">
		<input type="hidden" name="EPS_TXNTYPE" value="2">
		<input type="hidden" name="EPS_IP" value="203.42.16.89, 10.131.30.247">
		<input type="hidden" name="EPS_REFERENCEID" value="1499701"> 
		<input type="hidden" name="EPS_AMOUNT" value="65.00">
		<input type="hidden" name="EPS_TIMESTAMP" value="20190207010601"> 
		<input type="hidden" name="EPS_FINGERPRINT" value="fb5ff8d016d809528b690dee6078846da6c1a737">
		<input type="hidden" name="EPS_RESULTURL" value="https://stelly.com.au/module/securepayprestashop/validation"> 
		<input type="hidden" name="EPS_REDIRECT" value="true">
	</div>
	<div> 
		<label for="EPS_CARDNUMBER">Card number</label> <input id="EPS_CARDNUMBER" name="EPS_CARDNUMBER" class="null card-image form-control EPS_CARDNUMBER" type="tel" autocomplete="EPS_CARDNUMBER" placeholder="•••• •••• •••• ••••" required="">
	</div>
	<div> 
		<label for="EPS_CARDNAME">Name on card</label> <input id="EPS_CARDNAME" name="EPS_CARDNAME" class="form-control" maxlength="255" required="">
	</div>
	<div class="expiry-date-group"> <label for="EPS_EXPIRYMONTH">Expiry Month</label> 
		<input id="EPS_EXPIRYMONTH" name="EPS_EXPIRYMONTH" class="form-control" type="tel" placeholder="MM" maxlength="2" required="">
	</div>
	<div class="expiry-date-group"> <label for="EPS_EXPIRYYEAR">Year</label> <input id="EPS_EXPIRYYEAR" name="EPS_EXPIRYYEAR"
		 class="form-control" type="tel" placeholder="YY" maxlength="2" required="">
	</div>
	<div class="security-code-group"> <label for="EPS_CCV">CVV</label>
		<div class="input-container"> 
			<input id="EPS_CCV" name="EPS_CCV" class="form-control EPS_CCV" type="tel" autocomplete="off" placeholder="•••" required=""> <i id="cvc" class="icon-question-circle"></i>
		</div>
		<div class="cvc-preview-container two-card hide">
			<div class="amex-cvc-preview"></div>
			<div class="visa-mc-dis-cvc-preview"></div>
		</div>
	</div>
	<div class="form-group" style="margin-top: 100px;"> <button type="submit" class="btn_continue_shop btn-stelly-checkout"> PLACE YOUR ORDER </button></div>
</form>