<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

<textarea></textarea>

<script>
	var simplemde = new SimpleMDE({
		toolbar: ["bold", "italic", "heading", "|", "quote", "unordered-list", "ordered-list", "clean-block", "link", "image", "code", "table", "|", "preview"],
	});

	simplemde.isPreviewActive();


	$.getJSON("https://helloworldpro.herokuapp.com/CLIENT_ID/SECRET_CODE", {
		format: "json"
	})
	.done(function (data) {
		console.log('data', data)
	})
	.fail(function (data) {
		console.log('failed', data)
	});

</script>