/* 
  Customisation 
*/

.article-post {
  text-align: justify;
}

.nav-title span {
  margin: -30px 0 0 72px;
  font-size: 12px;
  display: block;
}

.card .img-fluid {
  width: 100%;
  object-fit: cover;
  height: 300px;
}


